html {
  color: #393E46;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}


/* Reuse Items */

.bg-cover {
  background-size: cover;
  background-position: center center;
}

section {
  padding: 60px 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}


/* Header */

header {
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url("./img/cover-clean-desk.jpg");
  background-attachment: fixed;
}


header h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.5rem;
}

header p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2.5px;
  word-spacing: 5px;
}

/* Navigation */

.navbar {
  padding: 7px 0;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

/* About */

.profile {
  background-color: #00ADB5;
}

.profile-text {
  width: 50%;
  margin: 0 auto;
}

.profile-text img {
  width: 250px;
  border-radius: 50%;
}

.profile-text h2 {
  font-weight: 400;
}

.profile-text p {
  color: #393E46;
  font-weight: bold;
  text-transform: capitalize;
}

.profile-text a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}