/* grey: #EEEEEE
greenblud:#00ADB5
dark: #393E46 */


html {
  color: #393E46;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}


/* Reuse Items */

.bg-cover {
  background-size: cover;
  background-position: center center;
}

section {
  padding: 60px 0;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
/* Header */

header {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.6))),  url("./img/cover-clean-desk.jpg");
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url("./img/cover-clean-desk.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}


header h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.5rem;
}

header p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2.5px;
  word-spacing: 5px;
}

/* Navigation */

nav {
  background-color: rgb(0, 173, 181);
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; 
  transition: transform 0.2s, color 0.2s; 
}

.nav-link:link,
.nav-link:visited {
  color: #eee;
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

/* sticky nav */

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
}

.sticky .nav {
  flex-wrap: nowrap;
} 

.mobile-nav-icon {
  display: none;
  cursor: pointer;
  margin-top: 0.2rem;
}

.mobile-nav-icon i{
  color: #eee;
  font-size: 120%;
}


/* Bootstrap 4 */
/* .navbar {
  padding: 7px 0;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
} */

/* About */

.section-profile {
  background-color: #00ADB5;
}

.profile-text {
  width: 50%;
  margin: 0 auto;
}

.profile-text img {
  width: 250px;
  border-radius: 50%;
}

.profile-text h2 {
  font-weight: 400;
}

.profile-text p {
  color: #393E46;
  font-weight: bold;
  text-transform: capitalize;
}

.profile-text a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

/* SKILLS */

.section-skills {
  background-color: #eee;
}


.section-skills h2 {
  color: #00ADB5;
  margin-bottom: 20px;
}

.circle {
  background-color: #ccc;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle .p90 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  background-color: #00ADB5;
}

.circle .p180 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #00ADB5;
}

.circle .p270 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  background-color: #00ADB5;
}

.circle .p360 {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #00ADB5;
}

.circle .inner-circle {
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  background-color: #eee;
  color: #393E46;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Experiences */

.section-experiences {
  background-color: #fff;
}


.timeline {
  position: relative;
}

.timeline:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  background-color: #00ADB5;
}

.timeline-pointer {
  position: relative;
}

.timeline-pointer:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #00ADB5;
  background-color: #eee;
  z-index: 10;
}

.work-time {
  background-color: #393E46;
  width: auto;
  height: 70px;
  padding: 0 20px;
  border-radius: 20px;
  position: relative;
}

.work-time h3 {
  color: #eee;
  font-size: 0.8rem;
  margin-bottom: 0;
}


.work-box {
  background-color: #eee;
  border-radius: 20px;
}

.work-box span {
  font-size: 0.9rem;
  display: block;
  text-align: center;
  color: #00ADB5;
}

.work-box ul{
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 20px;
}
.work-box li{
  line-height: 130%;
  font-size: 0.9rem;
}

.work-box p {
  margin-top: -10px;
  margin-bottom: 5px;
  line-height: 145%;
}


.work-box h3 {
  margin-bottom: 0;
  text-align: center;
}

/* Education */

.section-portfolios {
  background-color: #eee;
}

.section-portfolios h2 {
  color: rgb(0, 173, 181);
  margin-bottom: 2rem;
}

.portfolio-btn {
  margin-bottom: 1.5rem;
}

.portfolio-btn a {
  margin: 0 5px;
  font-size: 0.8rem;
}

.portfolio-btn .btn {
  border-width: 2px;
}

/* Portfolios */

.card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  opacity: 0.65;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin-top: 1rem;
}

.card:hover {
  opacity: 1;
} 

.card-img-top {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.card-link:link,
.card-link:visited {
  color: inherit;
}

.card-img-top:hover {
  -webkit-transform: scale(1);
          transform: scale(1)
} 

.section-portfolios .card .card-body {
  padding: 0.2rem 0.5rem;
}

.card-body .h6 {
  color: #00ADB5;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-weight: 400;
}

.card-body span {
  font-size: 0.7rem;
  padding: 0;
  font-style: italic;
}

/* Maps & contact */

.map-box {
  position: relative;  
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-info {
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}

.contact-info h3{
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  padding-top: 1rem ;
}


.contact-info ul{
  list-style: none;
}

.contact-info ul li{
  font-weight: 300;
  font-size: 1.0rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  margin-top: -4px;
}

/* Footer */
footer{
  background-color: #eee;
}

footer a {
  font-weight: 100;
}

footer span {
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;
}

.footer-icons a{
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 0.3rem;
}

/* Animation */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}